.conteudo-login {
    margin: 50px;
}

.conteudo-sign {
    margin: 0px 40px 40px 40px;
}

.cabecalho-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    font-size: 1.3rem;
    color: #ffc500;
}

.cabecalho-form img {
    height: 150px;
    width: 150px;
}

.conteudo-login form {
    box-shadow: 0px 0px 8px 1px #ccc;
    border-radius: 20px;
    margin: 0 auto;
    padding: 40px;
    width: 450px;
}

.conteudo-sign form {
    box-shadow: 0px 0px 8px 1px #ccc;
    border-radius: 20px;
    margin: 0 auto;
    padding: 40px;
    width: 600px;
}

.conteudo-login form button {
    background-color: #ffc500;
    border: none;
}

.conteudo-login form button:hover {
    background-color: #ce9e00;
}

.conteudo-sign form button {
    background-color: #ffc500;
    border: none;
}

.conteudo-sign form button {
    background-color: #ce9e00;
}

.separador {
    height: 40px;
}

.aqui {
    text-decoration: none;
    color: #ffc500;
}

.aqui:hover {
    color: #ce9e00;
}